
.container .setas img{
    position: absolute;
    z-index: 1;
    width: 50px; 
    top: 50%;
    right: 96%;
    opacity: 0.8;
    cursor: pointer;
    top: 50%;
}

.container .setas .btn-voltar img {
    transform: rotate(180deg);
}

.container .setas .btn-avancar img {
    width: 50px;
    left: 96%;
       
}

.container-imagens .conteudo-texto{
    background-color: rgb(255, 255, 255);
    width: 620px;
    height: 700px;
    padding: 70px; 
    position: absolute;
    left: 180px; 
    top: 190px; 
}

.container-imagens {
    position: relative;
}

.container-imagens .imagens {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-size:cover ;
} 

.container .imagem-1 {
    background: url(imagens/4.jpg)no-repeat;
    background-size:cover ;   
}

.container .imagem-2 {
    background: url(imagens/3.jpg)no-repeat;
    background-size:cover ;   
}

.container .imagem-3 {
    background: url(imagens/2.jpg)no-repeat;
    background-size:cover ; 
}

.container .imagem-4 {
    background: url(imagens/1.jpg)no-repeat;
    background-size:cover ;     
}